name = "pastebin-worker"

[vars]
ENVIRONMENT = "production"
BASE_URL = "https://as.al"


# 如果不使用自定义域名，将下面的代码注释掉
[[routes]]
pattern = "as.al"
custom_domain = true

[[r2_buckets]]
binding = 'BUCKET'
bucket_name = 'pastes'

[[d1_databases]]
binding = "DB"
database_name = "pastebins"
database_id = "e7d77803-c383-45c8-9481-c1630aa43bca"
migrations_dir = "./drizzle"
